@page "{cardId:int}"


@model Hearthstone.Pages.Cards.DetailModel
@{
    ViewData["Title"] = "Detail";
}

<h2>@Model.Card.Name</h2>

<div>
    Id: @Model.Card.Id
</div>

<div>
    Cost: @Model.Card.Cost
</div>

<div>
    Class: @Model.Card.Class
</div>

@if (Model.Message != null)
{
    <div class="alert alert-info">@Model.Message</div>
}

<a asp-page="./List" class="btn btn-primary">See All Cards</a>